body{
    /*font-family:'Pangolin';
    background-color: black;
    color: blanchedalmond;*/
}    

/* MENU BAR */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EAE2B7;
    position: fixed; 
    top: 0;
    width: 100%;
}

li a{
    display: block;
    color: #F77F00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
}

li{
    float: left;
}

.Active{
    background-color: #D62828;
}

li a:hover{
    background-color: #FCBF49;
}








/* ---TEXT--- */

body{
  background-color: #003049;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #D62828;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.shooting-words-down {
  position: absolute;
  left: 45%;
  top: 375px;
  animation: shootDown 2s forwards;
  opacity: 0;
  font-size: 40px;
  color:#EAE2B7;
}

.shooting-words-left {
  position: absolute;
  left: 5%;
  top: 100;
  animation: shootLeft 2s forwards;
  opacity: 0;
  font-size: 40px;
  color:#EAE2B7;
}

.shooting-words-up {
  position: absolute;
  left: 45%;
  top: 100;
  animation: shootUp 2s forwards;
  opacity: 0;
  font-size: 40px;
  color:#EAE2B7;
}

@keyframes shootDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(300%);
  }
}

@keyframes shootLeft {
  0% {
    opacity: 0;
    transform: translateX(0%);
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
    transform: translateY(-100%);
  }
}

@keyframes shootUp {
  0% {
    opacity: 0;
    transform: translateX(0%);
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
    transform: translateY(-100%);
  }  
}  


/*p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}*/